td.min {
    width: 1%;
    white-space: nowrap;
}
th.min {
    width: 1%;
    white-space: nowrap;
}
td.table-embedding {
    padding: 0px;
}
table.table-embedded {
    margin-bottom: 0px;
}
table.table-embedded th {
    padding-top: 2px;
    padding-bottom: 2px;
}
table.table-embedded td {
    padding-top: 2px;
    padding-bottom: 2px;
}

th {
    vertical-align: middle !important;
}

table.table-list td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.btn-small {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

.btn-overflow {
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.btn-selected {
    background-color: #007bff !important;
    color: #ffffff !important;
}

.overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

pre {
    margin-bottom: 0px !important;
}

table {
    margin-bottom: 0px !important;
}

td>div>pre>code {
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}